<h1>Documentation for Rodauth (v<%= Rodauth.version %>)</h1>

<h2 id="readme"><a href="rdoc/files/README_rdoc.html">README</a> (Introduction to Rodauth, start here if new)</h2>

<h2 id="rdoc"><a href="rdoc/index.html">RDoc</a> (frames)</h2>

<h2 id="plugins">Feature Configuration</h2>

<p>All features in Rodauth must be explicitly enabled.  Configuration that is used by multiple features resides in the Base feature, all other configuration is specific to individual features, and available after the features have been enabled.</p>

<ul>
  <li><a href="rdoc/files/doc/base_rdoc.html">Base</a>: Shared behavior for other features.</li>
  <li><a href="rdoc/files/doc/login_password_requirements_base_rdoc.html">Login Password Requirements Base</a>: Shared behavior for features that set logins or passwords.</li>
  <li><a href="rdoc/files/doc/email_base_rdoc.html">Email Base</a>: Shared behavior for features that require sending email.</li>
  <li><a href="rdoc/files/doc/two_factor_base_rdoc.html">Two Factor Base</a>: Shared behavior for 2 factor authentication features.</li>
  <li><a href="rdoc/files/doc/login_rdoc.html">Login</a>: Allows for logging into the application via a login/email and password.</li>
  <li><a href="rdoc/files/doc/logout_rdoc.html">Logout</a>: Allows for logging out of the application, by removing the login information from the session.</li>
  <li><a href="rdoc/files/doc/account_expiration_rdoc.html">Account Expiration</a>: Disallows access to accounts if there has been no login or activity after a given amount of time.</li>
  <li><a href="rdoc/files/doc/change_login_rdoc.html">Change Login</a>: Allows a user to change their login.</li>
  <li><a href="rdoc/files/doc/change_password_rdoc.html">Change Password</a>: Allows a user to change their password.</li>
  <li><a href="rdoc/files/doc/change_password_notify_rdoc.html">Change Password Notify</a>: Emails a user when they use the Change Password feature to change their password.</li>
  <li><a href="rdoc/files/doc/close_account_rdoc.html">Close Account</a>: Allows a user to close their account.</li>
  <li><a href="rdoc/files/doc/confirm_password_rdoc.html">Confirm Password</a>: Allows a user to confirm their passwords.</li>
  <li><a href="rdoc/files/doc/create_account_rdoc.html">Create Account</a>: Allows a user to create an account.</li>
  <li><a href="rdoc/files/doc/disallow_password_reuse_rdoc.html">Disallow Password Reuse</a>: Disallows setting password to the same string as previous passwords.</li>
  <li><a href="rdoc/files/doc/http_basic_auth_rdoc.html">HTTP Basic Auth</a>: Allows HTTP basic authentication.</li>
  <li><a href="rdoc/files/doc/lockout_rdoc.html">Lockout</a>: Locks an account out after a number of invalid authentication attempts, allowing unlocking via email.</li>
  <li><a href="rdoc/files/doc/jwt_rdoc.html">JWT</a>: Adds JSON API support for all other features.</li>
  <li><a href="rdoc/files/doc/otp_rdoc.html">OTP</a>: Adds support for 2 factor authentication via TOTP.</li>
  <li><a href="rdoc/files/doc/recovery_codes_rdoc.html">Recovery Codes</a>: Adds support for 2 factor authentication via single-use account recovery codes.</li>
  <li><a href="rdoc/files/doc/sms_codes_rdoc.html">SMS Codes</a>: Adds support for 2 factor authentication via codes received via SMS.</li>
  <li><a href="rdoc/files/doc/password_complexity_rdoc.html">Password Complexity</a>: Adds more sophisticated complexity checks for passwords.</li>
  <li><a href="rdoc/files/doc/password_expiration_rdoc.html">Password Expiration</a>: Requires that accounts change their password after a given amount of time.</li>
  <li><a href="rdoc/files/doc/password_grace_period_rdoc.html">Password Grace Period</a>: Don't require password entry if a user recently entered their password.</li>
  <li><a href="rdoc/files/doc/remember_rdoc.html">Remember</a>: Automatically logs a user in based on a token stored in a cookie, keeping track of how they logged in.</li>
  <li><a href="rdoc/files/doc/reset_password_rdoc.html">Reset Password</a>: Allows users to reset their password if they don't remember it.</li>
  <li><a href="rdoc/files/doc/session_expiration_rdoc.html">Session Expiration</a>: Expires sessions automatically based on inactivity or max lifetime checks.</li>
  <li><a href="rdoc/files/doc/single_session_rdoc.html">Single Session</a>: Only allows one active session per account.</li>
  <li><a href="rdoc/files/doc/update_password_hash_rdoc.html">Update Password Hash</a>: Update the password hash whenever the hash cost changes.</li>
  <li><a href="rdoc/files/doc/verify_account_rdoc.html">Verify Account</a>: Require verifications of newly created accounts before login.</li>
  <li><a href="rdoc/files/doc/verify_account_grace_period_rdoc.html">Verify Account Grace Period</a>: Allow newly created accounts a grace period before verification is required.</li>
  <li><a href="rdoc/files/doc/verify_login_change_rdoc.html">Verify Login Change</a>: Require verification of new logins before changing logins.</li>
</ul>

<h2 id="other-doc">Other Documentation</h2>

<ul>
  <li><a href="rdoc/files/doc/internals_rdoc.html">Internals Guide</a>: Guide to the internals and the object model.</li>
</ul>

<h2 id="external-features">External Features</h2>

<p>To use these external features, install their dependencies and follow their installation instructions.</p>

<ul>
  <li><a href="https://github.com/adam12/rodauth-become_account">rodauth-become_account</a>: Easily switch between Rodauth accounts.</li>
</ul>

<h2><a href="rdoc/files/CHANGELOG.html">Change Log</a></h2>

<h2 id="release-notes">Release Notes</h2>
<ul>
  <% %w'1'.each do |i| %>
      <% 
         lines = []
         Dir["../doc/release_notes/#{i}.*.txt"].map{|f| File.basename(f)}.each do |f|
           (lines[f.split('.')[1].to_i/10] ||= []) << f
         end
         lines.reverse.each do |fs|
      %>
        <li>
          <%= fs.sort_by{|f| f.split('.').map{|x| x.to_i}}.reverse.map do |f|
            "<a href='rdoc/files/doc/release_notes/#{f.gsub('.', '_')}.html'>#{f.sub(/\.txt$/, '').sub(/(..)\.0$/, '\\1')}</a>"
             end.join(' | ') %>
        </li>
      <% end %>
  <% end %>
</ul>

<h2 id="license"><a href="rdoc/files/MIT-LICENSE.html">License</a></h2>

<h2 id="presentations">Presentations</h2>

<ul>
<li><a href="https://speakerdeck.com/valikos/rodauth-clean-authentication">&quot;Rodauth: Clean Authentication&quot; at Ruby Meditation #13</a></li>
<li><a href="http://code.jeremyevans.net/presentations/rubyconflt2016/index.html">&quot;Rodauth: Website Security Through Database Security&quot; Presentation at RubyConf LT 2016</a> (1024x768, 50 minutes)</li>
<li><a href="http://code.jeremyevans.net/presentations/rubyconfby2016/index.html">&quot;Rodauth: Website Security Through Database Security&quot; Presentation at RubyConf BY 2016</a> (1280x720, 40 minutes) (<a href="https://www.youtube.com/watch?v=z3HZZHXXo3I">Video</a>)</li>
</ul>

<h2 id="apps">Applications Using Rodauth</h2>

<p>Here are some open source applications that use Rodauth:</p>

<ul>
  <li><a href="https://github.com/jeremyevans/spam">SPAM</a> (Simple Personal Accounting Manager)</li>
  <li><a href="https://github.com/jeremyevans/giftsmas">Giftsmas</a> (Gift Tracking)</li>
  <li><a href="https://github.com/jeremyevans/kaeruera">KaeruEra</a> (Exception Tracking)</li>
</ul>
